<html>
<head>
    <title>HP Fitness Tracker</title>
</head>
<body>
    <h1>Welcome to Harry Potter's Fitness Tracking System</h1>
    <li><a href="/athletes">Browse Athletes</a></li>
    <li><a href="/trainers">Browse Trainers</a></li>
    <li><a href="/exercises">Edit Exercises</a></li>
    <li><a href="/workouts">Manage Workouts</a></li>
</body>
</html>