{%extends "base.html"%}
<title>{% block title %}PileofDirt.com{% endblock %}</title>

{% block content %}
    <body>
    <div>    <img src = "https://diy.sndimg.com/content/dam/images/diy/fullset/2018/5/4/0/shutterstock_156179237_Evan-Lorne_compost-bin.jpg.rend.hgtvcom.1280.853.suffix/1525464414199.jpeg" height = 300 width = 360>
</div>
    </body>
    <form method="POST" class = form->
       <div> <button type="submit" class = "btn btn-primary"> Click to see your updated graph!</button></div>
      </form>

{% endblock %}
